@import './alert/alert.css';
@import './avatar/avatar.css';
@import './button/button.css';
@import './badges/badges.css';
@import './cards/cards.css';
@import './image/image.css';
@import './input/input.css';

@media (min-width: 750px) {
    main{
    max-width:720px;
    }
}

img {
    max-inline-size: 100%;
    block-size: auto;

    aspect-ratio: 2/1;
    object-fit: cover;
    object-position: top-center;
}

body{
    display:grid;
    grid-auto-flow:column;
    justify-content: center;
}

aside{
    padding:4rem;
}

aside>*{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 1 100%;
    padding:1rem;
    border-radius:2rem;
    text-decoration: none;
    color:black;
}


section{
    padding-top:4rem;
    grid-row:4/5;
}

.examples{
    display:flex;
    align-items:center;
    justify-content:space-around;
    flex-wrap: wrap;
    gap:1rem;
}


