:root {
  --primary-color: rgb(0, 0, 139);
  --secondary-color: rgb(173, 216, 230);
  --secondary-text-color: rgb(128, 128, 128);
  --hover-colour: rgb(211, 211, 211);
  --primary-text-color: rgb(0, 0, 0);
  --danger-color: rgb(255, 0, 0);

  --error-bkg-clr: rgb(255, 150, 150);
  --success-bkg-clr: rgb(150, 255, 150);
  --info-bkg-clr: rgb(150, 255, 255);
  --warn-bkg-clr: rgb(255, 255, 150);
  --online-color: rgb(0,100,0);
  --rating-color:rgb(255, 215, 0);
}
