:root{
    --bkg-clr:linear-gradient(45deg,aqua  0%, rgba(182, 241, 252, 1) 50%, rgba(252, 174, 241, 1) 70%);
    --sec-text-clr:gray;
    --pri-text-clr:black;
    --danger-clr:red;
}

img {
    max-inline-size: 100%;
    block-size: auto;
    border-radius: 1rem 1rem 0rem 0rem;
  }
  
  img:hover {
    cursor: pointer;
  }
  
  .card {
    background: var(--bkg-clr);
    display: flex;
    flex-wrap: wrap;
    max-width: 350px;
    height: min-content;
    border-radius: 1rem;
  }
  
  .card:hover {
    transition: 0.5sec;
    box-shadow: 2px 2px 2px 2px;
  }
  
  .text {
    padding: 1.25rem 1rem 1rem 1rem;
    flex: 1 1 100%;
    color: var(--sec-text-clr);
  }
  
  .description {
    padding: 0.35rem 1rem 0.35rem 1rem;
    flex: 1 1 100%;
    color: var(--sec-text-clr);
  }
  
  .titleText {
    font-size: 1.25rem;
    color: var(--pri-text-clr);
    font-weight: bolder;
  }
  
  .authorText {
    font-weight: bold;
    padding: 0.25rem 0rem 0rem 0rem;
  }
  
  .foot {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
    justify-content: space-around;
    padding: 0rem 0.75rem 0.5rem 0.75rem;
  }
  
  .foot>.material-icons{
    padding: 0.75rem;
    border-radius: 50%;
  }
  
  .card-body:hover{
    background-color: lightgray;
    cursor: pointer;
    border-radius: 1rem 1rem 0rem 0rem;
  }

 .foot>.material-icons:hover {
    background-color: lightgray;
    cursor: pointer;
  }
  

  .basic-textovermedia-2 > .card-body > .figure {
    position: relative;
  }
  
  .basic-textovermedia-2 > .card-body > .figure > .text {
    z-index: 1;
    bottom: 0;
    position: absolute;
    color:white ;
  }

  .basic-with-header > .card-body > img {
    border-radius: 0;
  }
  
  .basic-only-buttons > .foot > .material-icons {
    display: none;
  }
  
  .basic-only-icons > .foot > button {
    display: none;
  }
  
  .horizontal-6 > .card-body > .img-text > img {
    width: 100px;
    height: 90px;
    flex: 0 1 auto;
    border-top-right-radius: 0;
  }
  
  .horizontal-6 > .card-body > .img-text {
    display: flex;
  }
  
  .horizontal-6 > .description {
    display: none;
  }
  
 .card .badge {
    position: absolute;
    font-size: 0.75rem;
    display: flex;
    top: 0.5rem;
    left: 0.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0.3rem;
    background:var(--bkg-clr);
    color: black;
  }
  
  .figure-with-badge {
    position: relative;
  }
  
  .close-btn {
    position: absolute;
    font-size: 0.75rem;
    display: flex;
    top: 0.3rem;
    right: 0.3rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: black;
    background: var(--bkg-clr);
  }
  
  .close-btn:hover {
    background: var(--danger-clr);
  }
  
  .figure-with-dismiss {
    position: relative;
  }
  

  .box-with-shadow {
    box-shadow: 1px 1px 1px 1px;
  }